/********************************************************************************
 * Copyright (c) 2021-2023 Bayerische Motoren Werke Aktiengesellschaft (BMW AG)
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 ********************************************************************************/

#include "{{filename}}.h"

#include <memory>
#include "osc_1_x_frontend/osc.h"

{% for child in node.children(ChildType.MODEL) | sort(attribute='raw_type') %}
#include "parse{{ child.name }}.h"
{% endfor %}

#include "parseTrigger.h"

yase::BehaviorNode::Ptr parse({{ node.this.type }} {{ util.local(node.this) }})
{
    return std::make_shared<yase::{{ node.name }}Node>(
        "{{ node.name }}",
    {% for child in node.children(ChildType.MODEL) | sort(attribute='raw_type') %}
        parse({{ util.local(node.this) }}->Get{{child.name}}()),
    {% endfor %}
    {% if node.has_start_trigger and node.has_stop_trigger %}
        parse({{ util.local(node.this) }}->GetStartTrigger()),
        parse({{ util.local(node.this) }}->GetStopTrigger())
    {% elif node.has_start_trigger  %}
        parse({{ util.local(node.this) }}->GetStartTrigger())
    {% else %}
        parse({{ util.local(node.this) }}->GetStopTrigger())
    {% endif %});
}
